name: publish-exe

on:
  workflow_dispatch:

  push:
    paths:
      - "*.ps1"

jobs:
  # Add dependency on linter job
  ps1-to-exe:
    runs-on: windows-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/lint/action

      - name: Install Ps2exe
        shell: powershell
        run: Install-Module ps2exe -force

      - name: Compile
        shell: powershell
        run: Invoke-ps2exe .\main.ps1 .\likes-gay-config.exe
      
      - name: Publish
        uses: softprops/action-gh-release@v2.1.0
        with:
          files: |
            likes-gay-config.exe
            main.ps1
          tag_name: v${{ github.run_number }}
          prerelease: false
          name: v${{ github.run_number }}